version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
    labels:
      - dependencies
    groups:
      fastify:
        patterns:
          - '@fastify/*'
          - 'fastify*'
      prisma:
        patterns:
          - '@prisma/*'
          - prisma

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    labels:
      - ci
